body {
  background-color: #777;
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  width: 960px;
  font-size: 18px;
}

header {
  background-color: #ebebeb;
  text-align: center;
}

nav {
  background-color: #ebebeb;
  text-align: center;
}

section {
  background-color: #ebebeb;
  width: 495px;
  text-align: center;
  padding-bottom: 50px;
}

aside {
  background-color: #ebebeb;
  text-align: center;
  float: right;
  margin-top: 23px;
  width: 450px;
}

footer {
  background-color: #ebebeb;
  text-align: center;
  margin-top: 20px;
}

article {
  color: #ebebeb;
  background-color: #777;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  padding-top: 30px;
}

h1 {
  color: #777;
  background-color: #ebebeb;
  margin-left: 30px;
  margin-right: 30px;
}

p {
  color: #777;
  background-color: #ebebeb;
  margin-left: 30px;
  margin-right: 30px;
}